<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title


    link(rel="shortcut icon" href="/img/favicon.png")

    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet", href="/css/index.css")
body
    div(class='search__container')
        div(class='search__item logo')
            img(src="/img/jstube.svg", alt="", class="image")
        div(class='search__item form')
            form(action="/check")
                input(type="text")