.search__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.logo {
    width: 100%;
}
/* 
.image {

} */

.logo .image{
    width: 50%;
    margin: auto;
}

.form input[type='text'] {
    border-radius: 10px;
}